@charset "UTF-8";

body {
	/*max-width: 480px;*/
	margin-top: 59px;
	background-size: 480px auto;
	font-family: 'roboto', sans-serif;
}

hr{
	margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(255,30,101);
  width: 20%;
}

a{
	color: black;
}

.nav-item{
	border:none;
	border-radius: none;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #ff0065;
    border-color: #ff0065;
}

.list-group-item.active {
	background-color:  #ff0065;
	    border-color: #ff0065;
}

.btn-outline-danger{
    color: #ff0065;
    border-color: #ff0065;
}

.btn-outline-danger:hover{
    color: white;!important
    background-color: #ff0065;!important
}

button, .fat{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}
.list-group-flush .list-group-item {
  font-size: 0.7rem;
}

.designer{
	letter-spacing: 4px;
}

.h1{
	font-family: "vogue";
}